environment {
    XCUROSR_THEME "Bibata-Modern-Ice"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    hide-when-typing
}

include "input.kdl"
include "output.kdl"
include "layout.kdl"

include "keymap.kdl"

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 4
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Mod+Tab         { next-window     filter="app-id"; }
        Mod+Shift+Tab   { previous-window filter="app-id"; }
    }
}

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

prefer-no-csd

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
    draw-border-with-background false
    opacity 0.95
    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="waybar"
    match namespace="logout"
    background-effect {
        blur true
    }
}

layer-rule {
    geometry-corner-radius 4
    match namespace="launcher"
    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

spawn-at-startup "waybar"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-at-startup "awww-daemon"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
