* {
    font-family: JetBrainsMono Nerd Font, WenQuanYi Micro Hei;
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background: rgba(40, 40, 40, 0.5);
}

tooltip {
    background: rgba(11, 11, 11, 0.8);
}
tooltip label {
    color: #ddd;
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
}

#workspaces button {
    color: #ddd;
    padding: 0 5px;
    background: transparent;
    border-radius: 0;
    transition: all 0.4s ease;
}

#workspaces button:hover {
    box-shadow: none;
    background: rgba(80, 80, 80, 0.5);
}

#workspaces button.focused {
    color: #fff;
    background: rgba(40, 40, 40, 0.5);
}

#cpu,
#memory,
#disk,
#temperature,
#battery,
#window,
#custom-media,
#tray,
#wireplumber,
#backlight,
#network {
    color: #ddd;
    padding: 0 7px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
    color: #ddd;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    padding: 0 20px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(38, 166, 91, 0.7);
}

#battery.warning:not(.charging) {
  background-color: #f95;
  color: #fff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #f23;
  color: #fff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: #f23;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
