* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 20px;
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.8);
}

button {
    margin: 1em;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0);
	text-decoration-color: #eee;
    color: #eee;
	background-color: rgba(30, 30, 30, 0.8);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    transition: all 0.4s ease;
}

button:focus, button:active, button:hover {
	background-color: rgba(150, 150, 150, 0.8);
	outline-style: none;
}

#lock {
    background-image: image(url("/home/TaleG/.config/wlogout/icons/lock.svg"));
}

#logout {
    background-image: image(url("/home/TaleG/.config/wlogout/icons/logout.svg"));
}

#suspend {
    background-image: image(url("/home/TaleG/.config/wlogout/icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("/home/TaleG/.config/wlogout/icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/home/TaleG/.config/wlogout/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/TaleG/.config/wlogout/icons/reboot.svg"));
}
